<% content_for :all_users do %>
    <h1>Hello world</h1>
<% end %>
<% content_for :user_form do %>
    <%= form_for :user, :url => { :action => "create" } do |f| %>
        First Name:<%= f.input :first_name %><br>
        Last Name:<%= f.text_field :last_name %><br>
        favorite_language: <%= f.text_field :favorite_language %><br>
        <%= submit_tag 'Create' %>
    <% end %>
<% end %>