<h2><%= @dojo.branch%></h2>
<br>
<h4>Address: <%= @dojo.street %></h4>
<h4>City: <%= @dojo.city%> State: <%= @dojo.state %> </h4> 

<h5><a href="/">Home</a> | <a href='/dojos/<%= @dojo.id%>/edit'>Edit</a></h5>  