<!DOCTYPE html>
<html>
<head>
  <title>DojoDashboard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class = "row two_column">
    <div>
        <%= yield :all_users %>
    </div>
    <div class = 'row user_form'>
    <%= yield :user_form%>
    </div>
</div>

</body>
</html>