<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
     <form action="/newpost" method="POST">
        <label>Name:</label><br>
        <input type="text" name="name"><br>
        <label> Content: </label><br>
        <textarea rows="20" cols="40" name="contents"></textarea><br>
        <button type="submit">New Post!</button>
    </form>


    <% for(var x in posts){ %>
        <div class="message"> 
            <h3>Name: <%= posts[x].name%></h3>
            <h4>Message: </h4>
            <p><%=posts[x].text %></p>
        <% for (var y in comments){ %>
            <% if (comment[y]._post == posts[x]._id){ %>
                <h5><%="Name: " + posts[x]._comments[y].name%></h5>
                <h5><%= "Comment: " +  posts[x]._comments[y].text %></h5>
            <% } %>
        <% } %>
        <form action="/posts/<%= posts[x].id%>" method="POST">
            <label>Name: </label><br>
            <input type="text" name="name"><br>
            <label>Comment: </label><br>
            <input type="text" name="comment"><br>
            <button type='submit'>Post Comment</button>
        </form>
        </div>
        
    
    <% } %>






   

</body>
</html>